@let(nameInitials = $props.get('initials'))
@let(firstInitial = nameInitials ? Array.from(nameInitials.toString().trim())[0] : null)
@let(classes = [])

@if($props.get('src'))
  <img {{ $props
  .except(['initials', 'name'])
  .merge({ class: classes })
  .toAttrs() }}>
@elseif(firstInitial)
  <span {{ $props
  .except(['initials', 'name', 'src'])
  .merge({ class: classes })
  .toAttrs() }}> {{ firstInitial.toUpperCase() }} </span>
@end
