<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#113e14" />
    {{{ await $slots.title()}}}
    @if(notificationCount)
      <script>
        document.title = `({{ notificationCount > 99 ? '99+' : notificationCount }}) ${document.title.replace(/^\(\d+\+?\)\s*/, '')}`
      </script>
    @endif
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
</head>

<body
    class="bg-[#416543]">
    <div class="leaves pointer-events-none fixed inset-0 overflow-hidden z-0">
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
        <svg class="leaf" viewBox="0 0 24 24">
            <path d="M12 2C8 6 4 10 4 14a8 8 0 0016 0c0-4-4-8-8-12z" />
        </svg>
    </div>

    {{{ await $slots.main() }}}
    @!component('components/admin-floating-menu')
</body>

</html>
