<!-- Vivero 1 -->
<div class="bg-white/10 backdrop-blur-lg rounded-2xl p-6 border border-white/20 hover:scale-[1.03] transition">

  <img src="{{ asset(nursery.image) }}" class="w-full h-48 object-cover rounded-xl mb-4">

  <div class="text-2xl font-semibold text-white">
    {{{ nursery.name }}}
  </div>

  <div class="text-yellow-400 text-xl mb-2">★★★★☆</div>


  <p class="text-white/80 text-xl mb-3">
    {{{ nursery.description }}}
  </p>

  <div class="text-white/60 text-lg">📍 Santa Tecla</div>
  <div class="text-white/60 text-xl mb-3">⏰ 6:00 AM - 4:00 PM</div>

  <div class="flex justify-between text-white/70 text-lg">
    <span>@ElBambuNursery</span>
    <span>7777-3456</span>
  </div>
</div>
