@layout()
@slot('title')
<title>request</title>
@endslot
<div class="bg-[url('/resources/images/plants/plant.budd.png')] bg-cover bg-center w-full h-64">

</div>

<div class="bg-[#D5DCD4]">
    <h1>Favorites</h1>
</div>
@end