<div class="flash-container fixed inset-x-4 top-4 z-50 mx-auto w-full max-w-[min(90vw,42rem)] sm:inset-x-6">
  @if(flashMessages.has('error'))
    @alert.root({ variant: 'destructive', autoDismiss: true })
      @!alert.description({ text: flashMessages.get('error') })
    @end
  @end
  @if(flashMessages.has('success'))
    @alert.root({ variant: 'success', autoDismiss: true })
      @!alert.description({ text: flashMessages.get('success') })
    @end
  @end
</div>
