<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Plant bud
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body>
 <h1 class="font-sans">Plant Bud</h1>
<div>
  <div>Plants</div>
  <div>Community</div>
  <div>Maintenance</div>
  <div>Plant Nursery</div>
</div>
<div>
  <div>
    <h1>Welcome to Plant Bud</h1>
    <p>We as a team are proud to offer you te best experience on the maintenance
      and care of plants. </p>
  </div>

</div>
  </body>
</html>


