<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    Plant bud
  </title>
  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body
  class="bg-[#6C8E6B] bg-[radial-gradient(circle_at_20%_20%,rgba(237,231,214,0.25)_0%,transparent_60%),radial-gradient(circle_at_80%_80%,rgba(217,217,217,0.2)_0%,transparent_60%)]">

  <div>
    <div class="flex justify-end">
      <div class="pr-6">01</div>
      <div class="pr-6">Plants make life better</div>
    </div>
    <div class="flex justify-center">
      <p>Plant Bud</p>
    </div>

    <div class="bg-[#FFFFFF] flex justify-center">
      <div class="pr-4 pl-4">Plants</div>
      <div class="pr-4 pl-4">Gardeners</div>
      <div class="pr-4 pl-4">Community</div>
      <div class="pr-4 pl-4">Nurseries</div>
    </div>




</body>

</html>
