@layout()
<div class="relative">
  <div class="bg-[url('/resources/images/profile/profile-header.png')] bg-cover bg-center w-full h-64"> 
  <img src="resources/images/profile/lady.png" alt="lady" class="absolute -bottom-22"> 
  </div>

</div>

@end