@layout()

@slot('title')
<title>Ornamentals</title>
@endslot
@vite(['resources/js/categories.js'])





<div class="relative overflow-x-hidden">

    <div class="pt-10 left-0 w-full z-50 px-10">
        <div>
            <img decoding="async" src="resources/images/welcome/header3.png"
                class="absolute inset-0 w-full h-full object-cover" alt="">
            <div class="absolute inset-0 bg-black/45"></div>
            <div class="absolute inset-0 bg-gradient-to-b from-[#1E3D19]/10 via-[#728B6F]/10 to-[#6B8C6C]"></div>
        </div>

        <div>
            <div class="backdrop-blur-xl bg-white/20 border border-white/30
            rounded-full px-8 py-4 flex items-center justify-between shadow-lg">

                <img decoding="async" src="resources/images/essential/logo.png" alt="logo"
                    class="w-14 h-14 hover:scale-105 transition duration-300">

                <div class="flex items-center gap-4">
                    <div class="bg-white/70 rounded-full px-6 py-3 w-[320px]">

                        <input type="text" placeholder="Search plants" class="bg-transparent outline-none w-full
                        text-[#113E14] placeholder:text-[#6B8C6C]/70">
                    </div>

                    <button class="w-12 h-12 rounded-full bg-[#113E14]
                    flex items-center justify-center hover:bg-[#1b5420]
                    transition duration-300 shadow-md">
                        <svg class="w-5 h-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">

                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-4.35-4.35m1.85-5.65a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
                        </svg>
                    </button>
                </div>

                <img decoding="async" src="public\plants/logo-perfil.png" alt="profile"
                    class="w-14 h-14 rounded-full hover:scale-105 transition duration-300">
            </div>
        </div>


        <section class="pt-8 px-10">
            <div class="relative rounded-[40px] overflow-hidden shadow-2xl">
                <img decoding="async" src="resources/images/plant-budd.png" alt="hero"
                    class="w-full h-[420px] object-cover">
                <div class="absolute inset-0 bg-gradient-to-r
                from-[#113E14]/70 to-transparent"></div>

                <div class="absolute inset-0 px-16 pt-20">
                    <div class="flex justify-end">

                        <button
                            class="bg-[#113E14] font-abril text-3xl text-[#D3DCD3] py-2 px-28 rounded-full transition-all
                         duration-300 hover:-translate-y-1hover:scale-105 hover:bg-[#D3DCD3] hover:text-[#113E14] shadow-[0_10px_30px_rgba(0,0,0,0.12)]">
                            Care
                        </button>
                    </div>

                    <div class="max-w-xl mt-12">
                        <h1 class="text-6xl font-abril leading-none text-[#f7f5f0]">
                            Discover
                            ornamental
                            plants.
                        </h1>

                        <p class="mt-6 text-white/80 text-lg leading-relaxed max-w-md">
                            Explore elegant tropical species,
                            connect with gardeners and create
                            beautiful green spaces.
                        </p>

                    </div>

                </div>
        </section>
    </div>


    <div class="flex justify-center mt-4">
        <div class="flex justify-center mt-18">
            <div
                class="flex gap-3 bg-[#ffff]/80 backdrop-blur-md px-3 py-2 rounded-full shadow-inner shadow-[#48AE4D]/70">

                <div class="px-5 py-2 rounded-full bg-[#6b8c6b]/50 shadow-md">

                    <button onclick="showCategory(event, 'amaryllidaceae')"
                        class="category-btn px-5 py-2 rounded-full bg-[#113e14] text-white font-medium shadow-md inline-block transition-all duration-300">
                        Amaryllidaceae
                    </button>

                    <button onclick="showCategory(event, 'brassicaceae')"
                        class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
                        Brassicaceae
                    </button>

                    <button onclick="showCategory(event, 'apiaceae')"
                        class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
                        Apiaceae
                    </button>

                    <button onclick="showCategory(event, 'cucurbitaceae')"
                        class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
                        Cucurbitaceae
                    </button>

                    <button onclick="showCategory(event, 'solanaceae')"
                        class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
                        Solanaceae
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="flex justify-center pt-12 pb-20">
    <div class="flex gap-20 max-w-[1500px] w-full px-10">

        <div class="sticky top-25 shrink-0 w-[105px] h-[400px] rounded-[50px]
            bg-[#D3DCD3] backdrop-blur-xl border border-white/30
            shadow-[#48AE4D]
            flex flex-col items-center justify-around">

            <a href="/araceae" class="group w-20 h-20 rounded-full bg-white/50
                backdrop-blur-md flex items-center justify-center
                transition-all duration-500
                hover:scale-110 hover:bg-[#D3DCCB]">

                <img loading="lazy" decoding="async" src="public\plants/icon.flower.png"
                    class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
            </a>

            <a href="/amaryllidaceae" class="group w-20 h-20 rounded-full bg-[#6C8E6B]
                flex items-center justify-center
                transition-all duration-500
                hover:scale-110 hover:rotate-6">

                <img loading="lazy" decoding="async" src="public\plants/icon.vegetables.png"
                    class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
            </a>

            <a href="/cactaceae" class="group w-20 h-20 rounded-full bg-white/50
                backdrop-blur-md flex items-center justify-center
                transition-all duration-500
                hover:scale-110 hover:bg-[#D3DCCB]">

                <img loading="lazy" decoding="async" src="public\plants/icon.plant.png"
                    class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
            </a>
        </div>


        @each((plants, familyName, index) in horticulturalPlants)
        <div id="{{ familyName }}" class="category-section grid grid-cols-3 gap-12 {{ index != 0 ? 'hidden' : '' }}">
            @each(plant in plants)
            @component('components/plants/plant-card', {
            imageSrc: plant.image,
            imageAlt: plant.imageAlt,
            title: plant.name,
            scientificName: plant.scientificName
            })
            @end
            @endeach
        </div>
        @end

    </div>
</div>
@end