@layout()

@slot('title')
<title>Ornamentals</title>
@endslot
@vite(['resources/js/categories.js'])

<div class="relative overflow-x-hidden">
    @!component('components/header-plants', {
    title: "Discover ornamental plants",
    text: "Explore elegant tropical species,connect with gardeners and create beautiful green spaces.",
    imageBg:'resources/images/00-2.jpg'
    })

  <div class="flex justify-center mt-4">
    <div class="flex justify-center mt-18">
      <div class="flex gap-3 bg-[#ffff]/80 backdrop-blur-md px-3 py-2 rounded-full shadow-inner shadow-[#48AE4D]/70">

        <div class="px-5 py-2 rounded-full bg-[#6b8c6b]/50 shadow-md">

          <button onclick="showCategory(event, 'araceae')"
            class="category-btn px-5 py-2 rounded-full bg-[#113e14] text-white font-medium shadow-md inline-block transition-all duration-300">
            Araceae
          </button>

          <button onclick="showCategory(event, 'apocynaceae')"
            class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
            Apocynaceae
          </button>

          <button onclick="showCategory(event, 'rutaceae')"
            class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
            Rutaceae
          </button>

          <button onclick="showCategory(event, 'rubiaceae')"
            class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
            Rubiaceae
          </button>

          <button onclick="showCategory(event, 'zamiaceae')"
            class="category-btn px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition-all duration-300">
            Zamiaceae
          </button>

        </div>
      </div>
    </div>
  </div>
</div>



<div class="flex justify-center pt-12 pb-20">
  <div class="flex justify-center gap-20 max-w-[1500px] w-full px-10">

    <div
      class="sticky top-[95px] shrink-0 w-[105px] h-[400px] rounded-[50px] bg-[#D3DCD3] backdrop-blur-xl border border-white/30 shadow-[#48AE4D] flex flex-col items-center justify-around">
      <a href="/araceae"
        class="group w-20 h-20 rounded-full bg-[#6C8E6B] flex items-center justify-center transition-all duration-500 hover:scale-110 hover:rotate-6">
        <img loading="lazy" decoding="async" src="public\plants/icon.flower.png"
          class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
      </a>

      <a href="/amaryllidaceae"
        class="group w-20 h-20 rounded-full bg-white/50 backdrop-blur-md flex items-center justify-center transition-all duration-500 hover:scale-110 hover:bg-[#D3DCCB]">
        <img loading="lazy" decoding="async" src="public\plants/icon.vegetables.png"
          class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
      </a>

      <a href="/cactaceae"
        class="group w-20 h-20 rounded-full bg-white/50 backdrop-blur-md flex items-center justify-center transition-all duration-500 hover:scale-110 hover:bg-[#D3DCCB]">
        <img loading="lazy" decoding="async" src="public\plants/icon.plant.png"
          class="w-10 h-10 transition-all duration-500 group-hover:scale-110" />
      </a>
    </div>



    @each((plants, familyName, index) in ornamentalPlants)
    <div id="{{ familyName }}" class="category-section grid grid-cols-3 gap-12 {{ index != 0 ? 'hidden' : '' }}">
      @each(plant in plants)
      @component('components/plants/plant-card', {
      imageSrc: plant.image,
      imageAlt: plant.imageAlt,
      title: plant.name,
      scientificName: plant.scientificName
      })
      @end
      @endeach
    </div>
    @end

  </div>
</div>
@end
