<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Community</title>
</head>

<body class="bg-[#6C8E6B] min-h-screen flex flex-col">
  <div class="sticky top-0 mt-12 left-0 w-full z-50 px-10">
  <div class="backdrop-blur-xl bg-white/20 border border-white/30
              rounded-full px-8 py-4 flex items-center justify-between shadow-lg">

    <div class="w-10 h-10 bg-[url('resources/images/essential/logo.png')] bg-contain bg-no-repeat"></div>

    <div class="flex items-center gap-6">
      <div class="bg-white/70 rounded-full px-6 py-2 w-[280px]">
        <input type="text" placeholder="Search plants" class="bg-transparent outline-none w-full
                      text-[#113E14] placeholder:text-[#6B8C6C]/70 text-sm">
      </div>

      <button class="w-10 h-10 rounded-full bg-[#113E14]
                     flex items-center justify-center hover:bg-[#1b5420]
                     transition duration-300 shadow-md">
        <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-4.35-4.35m1.85-5.65a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
        </svg>
      </button>
    </div>

    <div class="flex items-center space-x-2 ml-4">
      <div class="w-8 h-8 bg-[url('resources/img/img3.png')] bg-contain bg-no-repeat"></div>
      <span class="text-[#113E14] font-bold text-lg">Community</span>
      <div class="w-8 h-8 bg-[url('resources/img/img3.png')] -scale-x-100 bg-contain bg-no-repeat"></div>
    </div>

    <button
      class="flex items-center space-x-2 bg-white rounded-xl px-4 py-2 shadow-md hover:bg-white/70 transition active:bg-green-900 active:text-white active:shadow-lg active:translate-y-1 focus:outline-none">
      <div class="w-5 h-5 bg-[url('resources/img/img4.png')] bg-contain bg-no-repeat"></div>
      <span class="font-semibold text-sm">Home</span>
    </button>

    <button class="w-8 h-8 bg-[url('resources/img/campana.png')] bg-contain bg-no-repeat rounded-lg transition"></button>
    <button class="w-8 h-8 bg-[url('resources/img/fav.png')] bg-contain bg-no-repeat rounded-lg transition"></button>

    
    <div class="flex items-center space-x-3">
      <div class="w-10 h-10 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
      <div class="flex flex-col">
        <span class="text-black/60 text-sm font-semibold">María Antonieta de las Nieves</span>
        <a href="#" class="text-blue-600 hover:underline text-xs">Switch</a>
      </div>
    </div>

  </div>
</div>



  <div class="mx-14">
    <div
      class="relative bg-[url('resources/images/plant-budd.png')] bg-cover bg-center h-[60vh] w-full rounded-xl shadow-lg mt-8">

      <div class="absolute inset-0 flex flex-col justify-center items-start px-12 space-y-4">
        <h2 class="text-4xl font-bold text-white drop-shadow-lg">
          Discover ornamental plants.
        </h2>
        <p class="text-lg text-white max-w-xl">
          Explore elegant tropical species, connect with gardeners and create beautiful green spaces.
        </p>


        <button
          class="bg-[#113E14] text-white font-semibold px-8 py-3 rounded-full shadow-md hover:bg-[#1b5420] transition">
          Care
        </button>
      </div>
    </div>
  </div>

  <div class="flex bg-[#6C8E6B]/80 px-6 py-10 space-x-6">
    <!--esta wea es la izquierda (el coso de perfil y woods)-->
    <div class="w-64 space-y-6">
      <div class="rounded-3xl overflow-hidden shadow-md relative backdrop-blur-xl bg-white/20 border border-white/30 px-3 pt-3">
        <div class="rounded-xl h-40 bg-[url('resources/img/flo.jpg')] bg-cover bg-center"></div>
        <div class="absolute left-1/2 top-20 transform -translate-x-1/2">
          <div
            class="w-24 h-24 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full border-4 border-white shadow-md">
          </div>
        </div>

        <div class="mt-4 flex flex-col items-center p-4">

          <h2 class="text-center text-lg font-bold text-black">Maria Antonieta de Las Nieves</h2>
          <p class="text-black/30 font-semibold">@m4ria4nt0ni4</p>
          <div class="flex justify-between w-full text-center mt-4">
            <div class="flex-1">
              <p class="font-bold text-black">250</p>
              <p class="text-sm font-semibold text-black/30">Posts</p>
            </div>
            <div class="flex-1">
              <p class="font-bold text-black">2022</p>
              <p class="text-sm font-semibold text-black/30">Followers</p>
            </div>
            <div class="flex-1">
              <p class="font-bold text-black">590</p>
              <p class="text-sm font-semibold text-black/30">Follows</p>
            </div>
          </div>
          <button
            class="bg-[#113E14] text-white font-bold py-2 px-12 rounded-2xl shadow-md hover:bg-[#113E14]/70 transition mt-4 active:shadow-lg active:translate-y-1 focus:outline-none">
            My profile
          </button>
        </div>
      </div>



    </div>

    <!--Aquí va el cooso este de la caja de publicaciones, la inche linea de sort by y los otros cosos-->
    <div class="flex-1 space-y-6">
      <div class="backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl p-4 shadow-md space-y-4">
        <div class="flex items-center space-x-6">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>


          <div class="flex bg-[#FBFBFB] items-center grow rounded-lg px-4 py-2 shadow-sm">
            <input type="text" placeholder="Share something..."
              class="grow bg-transparent outline-none text-gray-700 placeholder-gray-500" />
            <button class="ml-2 p-2 rounded-full transition active:shadow-lg active:translate-y-1">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1110.5 3a7.5 7.5 0 016.15 13.65z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="flex justify-between">
          <button
            class="flex items-center space-x-2 px-3 py-2 rounded-lg active:shadow-lg active:translate-y-1 focus:outline-none">
            <div class="w-6 h-6 bg-[url('resources/img/imagen.png')] bg-contain bg-no-repeat"></div>
            <span class="text-sm font-medium">Images</span>
          </button>

          <button
            class="flex items-center space-x-2 px-3 py-2 rounded-lg active:shadow-lg active:translate-y-1 focus:outline-none">
            <div class="w-6 h-6 bg-[url('resources/img/video.png')] bg-contain bg-no-repeat"></div>
            <span class="text-sm font-medium">Video</span>
          </button>

          <button
            class="flex items-center space-x-2 px-3 py-2 rounded-lg active:shadow-lg active:translate-y-1 focus:outline-none">
            <div class="w-6 h-6 bg-[url('resources/img/pol.png')] bg-contain bg-no-repeat"></div>
            <span class="text-sm font-medium">Poll</span>
          </button>

          <button
            class="flex items-center space-x-2 px-3 py-2 text-black/46 rounded-lg active:shadow-lg active:translate-y-1 focus:outline-none">
            <div class="w-6 h-6 bg-[url('resources/img/send.png')] bg-contain bg-no-repeat"></div>
            <span class="text-sm font-medium">Publish</span>
          </button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="w-full h-0.5 bg-[url('resources/img/line.png')] bg-cover bg-center"></div>
        <div class="flex items-center space-x-2 ml-2">
          <span class="text-sm font-bold text-black/30">Sort by</span>
          <span class="text-sm font-semibold text-black">Recent</span>
          <div class="w-8 h-8 bg-[url('resources/img/row.png')] bg-contain bg-no-repeat"></div>
        </div>
      </div>

      <!-- Publicaciones -->
      <div class="space-y-4">
        <div class="max-w-full h-400 px-20 mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-4 space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
              <div class="w-12 h-12 bg-[url('resources/img/aleja.jpg')] bg-cover bg-center rounded-full"></div>
              <div>
                <p class="font-semibold text-sm">Aleja.</p>
                <p class="text-xs text-gray-500">12 minutes ago</p>
              </div>
            </div>

            <button class="p-2 rounded-full hover:bg-gray-200">
              <svg class="w-5 h-5 text-gray-600" fill="currentColor">
                <circle cx="12" cy="5" r="1.5" />
                <circle cx="12" cy="12" r="1.5" />
                <circle cx="12" cy="19" r="1.5" />
              </svg>
            </button>
          </div>


          <p class="text-sm font-semibold">
            Beautiful plant! 🌱
            <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
          </p>


          <div class="rounded-xl w-full h-96 bg-[url('resources/img/flo.jpg')] bg-cover bg-center"></div>



          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-6">
              <button class="flex items-center space-x-2 group">
                <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">320k</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">120</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/favo.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">95</span>
              </button>
            </div>
            <button>
              <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
            </button>
          </div>

          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
            <input type="text" placeholder="Write your comment..."
              class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
          </div>
        </div>

        <div class="max-w-full h-400 px-20 mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-4 space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
              <div class="w-12 h-12 bg-[url('resources/img2/person.jpg')] bg-cover bg-center rounded-full"></div>
              <div>
                <p class="font-semibold text-sm">Angel.</p>
                <p class="text-xs text-gray-500">13 minutes ago</p>
              </div>
            </div>

            <button class="p-2 rounded-full hover:bg-gray-200">
              <svg class="w-5 h-5 text-gray-600" fill="currentColor">
                <circle cx="12" cy="5" r="1.5" />
                <circle cx="12" cy="12" r="1.5" />
                <circle cx="12" cy="19" r="1.5" />
              </svg>
            </button>
          </div>


          <p class="text-sm font-semibold">
            Look, they have been growing.
            <span class="text-blue-500">#newplants #plants #growingflowers #gardens</span>
          </p>


          <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower1.jpg')] bg-cover bg-center"></div>



          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-6">
              <button class="flex items-center space-x-2 group">
                <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">123k</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">79</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/favo.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">67</span>
              </button>
            </div>
            <button>
              <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
            </button>
          </div>

          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
            <input type="text" placeholder="Write your comment..."
              class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
          </div>
        </div>

        <div class="max-w-full h-400 px-20 mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-4 space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
              <div class="w-12 h-12 bg-[url('resources/img2/person1.jpg')] bg-cover bg-center rounded-full"></div>
              <div>
                <p class="font-semibold text-sm">Evelyn.</p>
                <p class="text-xs text-gray-500">13 minutes ago</p>
              </div>
            </div>

            <button class="p-2 rounded-full hover:bg-gray-200">
              <svg class="w-5 h-5 text-gray-600" fill="currentColor">
                <circle cx="12" cy="5" r="1.5" />
                <circle cx="12" cy="12" r="1.5" />
                <circle cx="12" cy="19" r="1.5" />
              </svg>
            </button>
          </div>


          <p class="text-sm font-semibold">
            I bought it yesterday
            <span class="text-blue-500">#newplants #growingflowers #plants #gardens</span>
          </p>


          <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower2.jpg')] bg-cover bg-center"></div>



          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-6">
              <button class="flex items-center space-x-2 group">
                <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">984k</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">345</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/favo.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">203</span>
              </button>
            </div>
            <button>
              <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
            </button>
          </div>

          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
            <input type="text" placeholder="Write your comment..."
              class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
          </div>
        </div>

        <div class="max-w-full h-400 px-20 mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-4 space-y-4">
          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-3">
              <div class="w-12 h-12 bg-[url('resources/img2/person2.jpg')] bg-cover bg-center rounded-full"></div>
              <div>
                <p class="font-semibold text-sm">Anne.</p>
                <p class="text-xs text-gray-500">13 minutes ago</p>
              </div>
            </div>

            <button class="p-2 rounded-full hover:bg-gray-200">
              <svg class="w-5 h-5 text-gray-600" fill="currentColor">
                <circle cx="12" cy="5" r="1.5" />
                <circle cx="12" cy="12" r="1.5" />
                <circle cx="12" cy="19" r="1.5" />
              </svg>
            </button>
          </div>


          <p class="text-sm font-semibold">
            I looks so beautifull
            <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
          </p>


          <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower3.jpg')] bg-cover bg-center"></div>



          <div class="flex items-center justify-between">
            <div class="flex items-center space-x-6">
              <button class="flex items-center space-x-2 group">
                <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">320k</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">120</span>
              </button>
              <button class="flex items-center space-x-2">
                <div class="w-5 h-5 bg-[url('resources/img/favo.png')] bg-cover bg-center"></div>
                <span class="text-sm font-semibold text-black/30">95</span>
              </button>
            </div>
            <button>
              <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
            </button>
          </div>

          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
            <input type="text" placeholder="Write your comment..."
              class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
          </div>
        </div>
        <!--y aqui se cierra el coso de las publicacipnes nasda mas-->
      </div>
      <!--aquí se cierra el coso central-->
    </div>

    <!-- Columna derecha-->
    <div class="w-64 space-y-6">
      <div class="m-3 space-y-3 pb-3 backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl p-3 max-w-[300px]">
        <!--Activity-->

        <div class="flex items-center justify-between">
          <h2 class="text-lg font-bold text-black">Activity</h2>

          <button class="text-gray-500 text-xs">
            see all
          </button>
        </div>

        <div class="flex items-center justify-between">

          <div class="flex items-center gap-2">


            <div class="bg-[url('resources/img2/person2.jpg')] w-10 h-10 rounded-full bg-cover bg-center">
            </div>


            <div class="leading-tight">
              <p class="text-xs">
                <span class="font-bold">Deraa</span>
                <span class="text-gray-500">started</span>
              </p>

              <p class="text-xs text-gray-500">
                following you
                <span class="text-gray-400 ml-1">5m</span>
              </p>
            </div>
          </div>


          <button class="text-blue-500 text-xs font-medium">
            follow
          </button>
        </div>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-2">

            <div class="bg-[url('resources/img/person3.jpg')] w-10 h-10 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-xs">
                <span class="font-bold">Ju4nit0</span>
                <span class="text-gray-500">liked your</span>
              </p>

              <p class="text-xs text-gray-500">
                photo.
                <span class="text-gray-400 ml-1">30m</span>
              </p>
            </div>
          </div>


          <div class="w-10 h-10 rounded-lg bg-cover bg-center bg-[url('resources/img/flower3.jpg')]"></div>
        </div>

        <h3 class="text-xs font-bold text-black pt-1">
          Yesterday
        </h3>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-2">

            <div class="bg-[url('resources/img/person5.jpg')] w-10 h-10 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-xs">
                <span class="font-bold">M4rquez</span>
                <span class="text-gray-500">liked your</span>
              </p>

              <p class="text-xs text-gray-500">
                photo.
                <span class="text-gray-400 ml-1">1D</span>
              </p>
            </div>
          </div>

          <div class="bg-[url('resources/img/flower6.jpg')] w-10 h-10 rounded-lg bg-cover bg-center"></div>
        </div>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-2">

            <div class="bg-[url('resources/img/person7.jpg')] w-10 h-10 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-xs">
                <span class="font-bold">M4rquez</span>
                <span class="text-gray-500">liked your</span>
              </p>

              <p class="text-xs text-gray-500">
                photo.
                <span class="text-gray-400 ml-1">1D</span>
              </p>
            </div>
          </div>

          <div class="bg-[url('resources/img/flower7.jpg')] w-10 h-10 rounded-lg bg-cover bg-center"></div>
        </div>
        <!--final de los la wea de activity-->
      </div>

      <div class="m-3 space-y-3 pb-3 backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl p-3 max-w-[300px]">

        <div class="flex items-center justify-between">
          <h2 class="text-sm font-bold text-black">
            Suggestes for you
          </h2>

          <button class="text-xs text-gray-500">
            see all
          </button>
        </div>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-3">


            <div class="bg-[url('resources/img/person7.jpg')] w-11 h-11 rounded-full bg-cover bg-center">
            </div>


            <div class="leading-tight">
              <p class="text-sm font-bold text-black">
                M3lani3
              </p>

              <p class="text-[11px] text-gray-500">
                Followed by Dlms
              </p>
            </div>
          </div>


          <button class="text-sm text-gray-500 font-medium">
            Followed
          </button>
        </div>

        <div class="flex items-center justify-between">

          <div class="flex items-center gap-3">

            <div class="bg-[url('resources/img/person3.jpg')] w-11 h-11 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-sm font-bold text-black">
                Laur4
              </p>

              <p class="text-[11px] text-gray-500">
                Suggested for you
              </p>
            </div>
          </div>

          <button class="text-sm text-gray-500 font-medium">
            Followed
          </button>
        </div>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-3">

            <div class="bg-[url('resources/img/person4.jpg')] w-11 h-11 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-sm font-bold text-black">
                Rodr1G
              </p>

              <p class="text-[11px] text-gray-500">
                Suggested for you
              </p>
            </div>
          </div>

          <button class="text-sm text-blue-500 font-medium">
            follow
          </button>
        </div>


        <div class="flex items-center justify-between">

          <div class="flex items-center gap-3">

            <div class="bg-[url('resources/img/person5.jpg')] w-11 h-11 rounded-full bg-cover bg-center">
            </div>

            <div class="leading-tight">
              <p class="text-sm font-bold text-black">
                lo3l
              </p>

              <p class="text-[11px] text-gray-500">
                Followed by L0ris
              </p>
            </div>
          </div>

          <button class="text-sm text-blue-500 font-medium">
            follow
          </button>
        </div>

      </div>
    </div>
  </div>


</body>

</html>