<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Favorites</title>
</head>

<body class="bg-[#6C8E6B] min-h-screen flex flex-col">
  <div class="sticky top-0 mt-12 left-0 w-full z-50 px-10">
    <div class="backdrop-blur-xl bg-white/20 border border-white/30
              rounded-full px-8 py-4 flex items-center justify-between shadow-lg">


      <div class="w-10 h-10 bg-[url('resources/images/essential/logo.png')] bg-contain bg-no-repeat"></div>

      <div class="flex items-center gap-6">

        <div class="bg-white/70 rounded-full px-6 py-2 w-[280px]">
          <input type="text" placeholder="Search plants" class="bg-transparent outline-none w-full
                      text-[#113E14] placeholder:text-[#6B8C6C]/70 text-sm">
        </div>


        <button class="w-10 h-10 rounded-full bg-[#113E14]
                     flex items-center justify-center hover:bg-[#1b5420]
                     transition duration-300 shadow-md">
          <svg class="w-4 h-4 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-4.35-4.35m1.85-5.65a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
          </svg>
        </button>


        <div class="flex items-center space-x-2 ml-4">
          <div class="w-8 h-8 bg-[url('resources/img/img3.png')] bg-contain bg-no-repeat"></div>
          <span class="text-[#113E14] font-bold text-lg">Favorites</span>
          <div class="w-8 h-8 bg-[url('resources/img/img3.png')] -scale-x-100 bg-contain bg-no-repeat"></div>
        </div>


        <button onclick="window.location.href='/community'"
          class="w-8 h-8 bg-[url('resources/img/home2.png')] bg-contain bg-no-repeat rounded-lg transition"></button>


        <button onclick="window.location.href='/notification'"
          class="w-8 h-8 bg-[url('resources/img/campana.png')] bg-contain bg-no-repeat rounded-lg transition"></button>

        <button
          class="flex items-center space-x-2 bg-white rounded-xl px-4 py-2 shadow-md hover:bg-white/70 transition active:bg-green-900 active:text-white active:shadow-lg active:translate-y-1 focus:outline-none">
          <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-contain bg-no-repeat"></div>
          <span class="font-semibold text-sm">Favorites</span>
        </button>
      </div>


      <div class="flex items-center space-x-3">
        <div class="w-10 h-10 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
        <div class="flex flex-col">
          <span class="text-black/60 text-sm font-semibold">María Antonieta de las Nieves</span>
          <a href="#" class="text-blue-600 hover:underline text-xs">Switch</a>
        </div>
      </div>
    </div>
  </div>


  <div class="mx-14">
    <div
      class="relative bg-[url('resources/images/plant-budd.png')] bg-cover bg-center h-[60vh] w-full rounded-xl shadow-lg mt-8">

      <div class="absolute inset-0 flex flex-col justify-center items-start px-12 space-y-4">
        <h2
          class="text-4xl font-bold bg-gradient-to-r from-white to-[#113E14] bg-clip-text text-transparent drop-shadow-lg">
          Discover the community.
        </h2>
        <p class="text-2xl text-[#113E14] font-semibold max-w-xl">
          Explore elegant publicstions, connect with share ideas.
        </p>



      </div>
    </div>
  </div>

  <div class="flex bg-[#6C8E6B]/80 px-6 py-10 space-x-6">

    <!--Aquí va el cooso este de la caja de publicaciones, la inche linea de sort by y los otros cosos-->
    <div class="flex-1 space-y-6">

      <div class="flex items-center justify-between w-[700px] mx-auto p-6 space-y-6">
        <div class="w-full h-[2px] bg-[url('resources/img/line.png')] bg-cover bg-center"></div>
        <div class="flex items-center space-x-2 ml-2">
          <span class="text-sm font-bold text-black/30">Sort by</span>
          <span class="text-sm font-semibold text-black">Recent</span>
          <div class="w-8 h-8 bg-[url('resources/img/row.png')] bg-contain bg-no-repeat"></div>
        </div>
      </div>

      <!-- Publicaciones -->
      <div
        class="w-[600px] mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person1.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Aleja.</p>
              <p class="text-xs text-gray-500">12 minutes ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower1.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div
        class="w-[600px] mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person2.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Juls.</p>
              <p class="text-xs text-gray-500">1 day ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower2.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div class="w-[600px] mx-auto bg-white/80 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person3.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Ellie.</p>
              <p class="text-xs text-gray-500">1 day ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower3.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div
        class="w-[600px] mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person4.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Aria.</p>
              <p class="text-xs text-gray-500">1 day ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower4.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div class="w-[600px] mx-auto bg-white/80 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person5.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Ginna.</p>
              <p class="text-xs text-gray-500">2 days ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower5.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div
        class="w-[600px] mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person6.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Milena.</p>
              <p class="text-xs text-gray-500">2 days ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower6.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>

      <div
        class="w-[600px] mx-auto backdrop-blur-xl bg-white/20 border border-white/30 rounded-3xl shadow-lg p-6 space-y-6">
        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-3">
            <div class="w-12 h-12 bg-[url('resources/img/person7.jpg')] bg-cover bg-center rounded-full"></div>
            <div>
              <p class="font-semibold text-sm">Alejandra.</p>
              <p class="text-xs text-gray-500">2 days ago</p>
            </div>
          </div>

          <button class="p-2 rounded-full hover:bg-gray-200">
            <svg class="w-5 h-5 text-gray-600" fill="currentColor">
              <circle cx="12" cy="5" r="1.5" />
              <circle cx="12" cy="12" r="1.5" />
              <circle cx="12" cy="19" r="1.5" />
            </svg>
          </button>
        </div>


        <p class="text-sm font-semibold">
          Beautiful plant! 🌱
          <span class="text-blue-500">#art #aesthetics #plants #gardens</span>
        </p>


        <div class="rounded-xl w-full h-96 bg-[url('resources/img/flower7.jpg')] bg-cover bg-center"></div>



        <div class="flex items-center justify-between">
          <div class="flex items-center space-x-6">
            <button class="flex items-center space-x-2 group">
              <div class="w-8 h-8 bg-[url('resources/img/heart.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">320k</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/com.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">120</span>
            </button>
            <button class="flex items-center space-x-2">
              <div class="w-5 h-5 bg-[url('resources/img/favorites2.png')] bg-cover bg-center"></div>
              <span class="text-sm font-semibold text-black/30">95</span>
            </button>
          </div>
          <button>
            <div class="w-5 h-5 bg-[url('resources/img/avion.png')] bg-cover bg-center"></div>
          </button>
        </div>

        <div class="flex items-center space-x-3">
          <div class="w-12 h-12 bg-[url('resources/img/phot.jpg')] bg-cover bg-center rounded-full"></div>
          <input type="text" placeholder="Write your comment..."
            class="flex-1 px-4 py-2 rounded-full bg-gray-100 outline-none text-sm" />
        </div>
      </div>
    </div>



</body>

</html>