<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Plant Bud - plants</title>
</head>

<body class="bg-[#6B8C6C]">
    <div class="w-full">
        <img src="plant.budd.png" alt="photo top" class="h-auto w-full">

        <img src="logo.png" alt="logo" class="absolute top-14 left-14 w-20 h-20">

        <img src="logo-perfil.png" alt="perfil-logo" class="absolute top-14 right-14 w-16 h-16">

        <div class="absolute top-14 left-1/2 -translate-x-1/2
bg-white p-6 w-96 rounded-full border-4 border-gray-700
focus:border-pink-600 shadow-lg border border-gray-200">
        </div>

        <div class="absolute bg-[#D3DCCB] pt-14 pb-6 w-full">
            <p class="abril-fatface">cocoooo</p>
        </div>

</body>

</html>