<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Abril+Fatface&display=swap"
        rel="stylesheet">
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        poppins: ['Poppins', 'sans-serif'],
                        abril: ['Abril Fatface', 'serif'],
                    },
                },
            },
        }
    </script>
    <title>PlantsSection</title>
</head>


<body class="bg-[#6B8C6C]">

    <div class="relative">

        <img src="resources/images/plants/plant.budd.png" alt="photo" class="w-full h-auto">
        <div class="absolute top-14 left-0 w-full flex items-center justify-between px-14">
            <div class="transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">
                <img src="resources/images/plants/logo.png" alt="logo" class="w-20 h-20">
            </div>
            <div class="flex items-center justify-center gap-4">
                <div class="bg-[#FBFBFB] rounded-full px-2 py-3 w-[350px]
                    shadow-[inset_0_2px_6px_rgba(0,0,0,0.25)]">
                    <input type="text" placeholder="Search"
                        class="bg-transparent outline-none w-full text-gray-600 placeholder-gray-500">
                </div>

                <div class="bg-[#D9D9D9] w-14 h-14 rounded-full flex items-center justify-center
                    shadow-[inset_0_4px_12px_rgba(0,0,0,0.25)]">

                    <div class="bg-[#FBFBFB] w-14 h-14 rounded-full flex items-center justify-center
                          shadow-[inset_0_4px_10px_rgba(0,0,0,0.25),0_4px_10px_rgba(0,0,0,0.2)]">

                        <svg class="w-6 h-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-4.35-4.35m1.85-5.65a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110">
                <img src="resources/images/plants/logo-perfil.png" alt="perfil-logo" class="w-16 h-16">
            </div>
        </div>
    </div>


    <div class="bg-[#D3DCCB] w-full flex flex justify-center">
        <div class="flex items-center space-x-4">
            <img src="resources/images/plants/leaf-2.png" alt="logo" class="w-20 h-20">

            <h1 class="font-abril font-bold leading-loose text-4xl text-center font-bold text-[#113E14]">
                Ornamentals
            </h1>

            <img src="resources/images/plants/leaf.png" alt="logo" class="w-14 h-14">
        </div>
    </div>
    </div>

    <div class="px-12 mt-8">
        <button class="bg-[#D3DCCB] font-abril text-3xl text-[#113E14] py-2 px-32 rounded-full">
            Care
        </button>
    </div>


    <div class="w-full flex justify-center mt-4 pl-24">
        <div class="w-full flex justify-center mt-4">
            <div class="flex gap-3 bg-[#EDE7D6]/60 backdrop-blur-md px-3 py-2 rounded-full shadow-inner">
                <div class="px-5 py-2 rounded-full bg-[#D9D9D9] shadow-md">

                    <button class="px-5 py-2 rounded-full bg-[#6C8E6B] text-white font-medium shadow-md">
                        Rutaceae
                    </button>

                    <button class="px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition">
                        Araceae
                    </button>

                    <button class="px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition">
                        Apocynaceae
                    </button>

                    <button class="px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition">
                        Rubiaceae
                    </button>

                    <button class="px-5 py-2 rounded-full text-[#2D2B2B] hover:bg-white/50 transition">
                        Zamiaceae
                    </button>

                </div>
            </div>
        </div>
    </div>



    <div class="bg-[#6f8f6a] flex justify-center pt-12">
        <div class="flex gap-16 max-w-[1200px] w-full px-14">

            <div class="relative w-[100px] h-[450px] bg-gray-100 rounded-[25px] overflow-visible">
                <div class="absolute top-[35%] rounded-l-[57px] right-[-35px] w-[85px] h-[130px] bg-[#6f8f6a]">
                </div>

                <img src="resources/images/plants/icon.flower.png" class="absolute top-10 left-1/2 -translate-x-1/2 w-8" />


                <div
                    class="absolute top-1/2 right-[-10px] -translate-y-1/2 w-14 h-14 bg-gray-100 rounded-full flex items-center justify-center z-10">
                    <img src="resources/images/plants/icon.vegetables.png" class="w-8" />
                </div>


                <img src="resources/images/plants/icon.plant.png" class="absolute bottom-12 left-1/2 -translate-x-1/2 w-8" />

            </div>



            <div class="flex gap-12 pl-14">

                <div
                    class="bg-[#D3DCCB] w-[240px] rounded-[28px] p-6 flex flex-col items-center relative overflow-hidden">

                    <div class="w-full rounded-[20px] p-[0.5]">
                        <img src="resources/images/plants/curry.png" alt="curry-leaf-tree" class="w-full h-[200px] object-cover rounded-[20px]">
                    </div>
                    <div class="w-[120px] h-[3px] mx-auto bg-[#6C8E6B]/100 rounded-full blur-sm mt-2">
                    </div>
                    <h3 class="mt-4 text-xl font-abril text-center text-[#113E14]">
                        Curry<br>leaf tree
                    </h3>

                    <p class="mt-2 text-sm font-poppins font-semibold">Scientific name</p>
                    <p class="text-sm font-poppins text-gray-700">Murraya koenigii</p>

                    <div
                        class="absolute bottom-4 left-1/2 -translate-x-1/2 w-[140px] h-[3px] bg-[#6C8E6B]/100 rounded-full blur-sm">
                    </div>
                </div>



                <div
                    class="bg-[#D3DCCB] w-[240px] rounded-[28px] p-6 flex flex-col items-center relative overflow-hidden">
                    <div class="w-full  rounded-[20px] p-[0.5]">
                        <img src="resources/images/plants/rue.png" alt="rue" class="w-full h-[200px] object-cover rounded-[20px]">
                    </div>
                    <div class="w-[120px] h-[3px] mx-auto bg-[#6C8E6B]/100 rounded-full blur-sm mt-2">
                    </div>
                    <h3 class="mt-4 text-xl font-abril text-center text-[#113E14]">
                        Rue
                    </h3>
                    <p class="mt-2 text-sm font-poppins font-semibold">Scientific name</p>
                    <p class="text-sm font-poppins text-gray-700">Ruta graveolens</p>

                    <div
                        class="absolute bottom-4 left-1/2 -translate-x-1/2 w-[140px] h-[3px] bg-[#6C8E6B]/100 rounded-full blur-sm">
                    </div>

                </div>


                <div
                    class="bg-[#D3DCCB] w-[240px] rounded-[28px] p-6 flex flex-col items-center relative overflow-hidden">
                    <div class="w-full rounded-[20px] p-[0.5]">
                        <img src="resources/images/plants/gas-plant.png" alt="gas-plant" class="w-full h-[200px] object-cover rounded-[20px]">
                    </div>
                    <div class="w-[120px] h-[3px] mx-auto bg-[#6C8E6B]/100 rounded-full blur-sm mt-2">
                    </div>
                    <h3 class="mt-4 text-xl font-abril text-center text-[#113E14]">
                        Gas plant<br>'Albiflorus'
                    </h3>
                    <p class="mt-2 text-sm font-poppins font-semibold">Scientific name</p>
                    <p class="text-sm font-poppins text-gray-700">
                        Dictamnus albus 'Albiflorus'
                    </p>
                    <div
                        class="absolute bottom-4 left-1/2 -translate-x-1/2 w-[140px] h-[3px] bg-[#6C8E6B]/100 rounded-full blur-sm">
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>