<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Plant Bud</title>
</head>

<body class="bg-[#6C8E6B] m-0 p-0">

    <!-- Header -->
    <header class="relative">
        <div>
            <img src="resources/images/welcome/header.png" alt="" class="w-full block">

            <div
                class="absolute top-[75%] left-[70%] transform -translate-x-1/2 -translate-y-1/2 flex items-center justify-center">
                <div class="absolute w-full h-full bg-[#D9D9D9] rounded-full"></div>
                <img src="resources/images/essential/logo.png" alt="" class="w-[600px] relative z-10">
            </div>
        </div>
    </header>

    <!-- Contenido -->
    
</body>

</html>